NODE_ENV=development
NODE_PORT=3000

APP_NAME={APP NAME}
APP_ENV=development
APP_KEY=base64:GPGiQjnZeY1EJ/7kD5yeg76BaKtK/p0PvCQjbazttUs=
APP_DEBUG=true
APP_URL=http://localhost:3000/api

DB_CLIENT={DATABASE CLIENT SERVER}
DB_HOST={DATABASE HOST}
DB_PORT={DATABASE PORT}
DB_NAME={DATABASE NAME}
DB_USER={DATABASE USER}
DB_PASS={DATABASE PASSWORD}

REDIS_HOST=localhost
REDIS_PASSWORD=redis
REDIS_PORT=6379
